body
{
	background-color: #F1F4F4;
}
.topnav 
{
  background-color: #34a34c;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}
.topnav ul
{
	list-style: none;
	text-align: center;
}
.topnav ul li
{
	display: inline;
	padding: 20px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.topnav ul li a
{
	text-decoration: none;
	color : black;
}
.topnav ul li a:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	background-color: black;
	border-radius: 10px;
	transition: 0.5s;
}
.info
{
	text-align: center;
	position: relative;
	top: 2cm;
}
.info img
{
	height: 45%;
	width:45%;
	border-style: solid;
	border-color: green;
	border-radius: 20px;
	box-shadow: 5px 15px 50px black;
}
.info img:hover
{
	box-shadow: none;
	cursor: not-allowed;
	transition: 1.1s;
}