body
{
	background-color: #F1F4F4;
}
.topnav 
{
  background-color: #34a34c;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
}
.topnav ul
{
	list-style: none;
	text-align: center;
}
.topnav ul li
{
	display: inline;
	padding: 20px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.topnav ul li a
{
	text-decoration: none;
	color : black;
}
.topnav ul li a:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	background-color: black;
	border-radius: 10px;
	transition: 0.5s;
}
.container
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container .pic img
{
	overflow:hidden;
    -webkit-border-radius:5	0px;
    -moz-border-radius:100px;
    border-radius:120px;
    width:250px;
    height:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1cm;
    box-shadow: 5px 5px 20px black;
}
.container .blink
{
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	font-size: 17px;
	text-align: center;
	position: relative;
	top: 2cm;
}
.Resume 
{
	text-align: center;
}
.Resume p
{
	display: inline;
	margin-left: 20px;
}
.Resume a
{
	position: fixed;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 10px;
	padding: 15px;
	background: green;
	color: white;
	border: 1px white;
	position: relative;
	top: 3cm;
	box-shadow: 5px 5px 20px black;
}
.Resume a:hover
{
	color:white;
	transition: 1s;
	background-color: blue;
}

